.banner{
    background: url("https://lh3.googleusercontent.com/pw/AP1GczNASzv03wUfHiWulhYQJX19oiA5nC4PQQBskVJ3YilnbEFr5ynyx8j96eNHmEyKiSio276Ff4oUQ4R8NJxZhwE3ti8YllkMMt2dEFrXYvHYeiQio-d9MYatC8602gRyDYyQhbiPW-UOik-RDZfQdyvw=w1912-h817-s-no-gm");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 20%;
    padding-bottom: 20%;
    color: #fff;
}







.hero-profil {
    background: url("https://lh3.googleusercontent.com/pw/AP1GczO1D0s3bVw2dvR0Bv9vm70MbbOC2KbUITde55CEXciErBySC8lbJ5t5oyEayasBlXKV0uYDQehzCBy4nhbZyxbLTJ9VkkzYz6F6LYDDX7sHMFfu4JY2cTXYN2rn1mN4Q3nshcnUC1XTUzUB7asLBH0U=w1263-h738-s-no-gm");
     background-size: cover;
     height: 500px;
     padding: 200px 0px;
}